<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>DETR | Landing, Corporate &amp; Business Templatee</title>

    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="static/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="static/img/favicons/favicon.ico">
    <link rel="manifest" href="static/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="static/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">

    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="static/css/theme.min.css" rel="stylesheet" />
    <!-- Head content as provided previously -->
</head>

<body>
    <main class="main" id="top">
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3 bg-light opacity-85" data-navbar-on-scroll="data-navbar-on-scroll">
          <div class="container"><a class="navbar-brand" href="/"><img class="d-inline-block align-top img-fluid" src="static/img/gallery/logo-icon.png" alt="" width="50" /><span class="text-theme font-monospace fs-4 ps-2">DETR</span></a><button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item px-2"><a class="nav-link fw-medium active" aria-current="page" href="/">Home</a></li>
                <li class="nav-item px-2"><a class="nav-link fw-medium" href="/">Benefits</a></li>
                <li class="nav-item px-2"><a class="nav-link fw-medium" href="/pestwatch"">Pest Watch</a></li>              
                <li class="nav-item px-2"><a class="nav-link fw-medium" href="/pestpred">Pest Prediction</a></li>
                <li class="nav-item px-2"><a class="nav-link fw-medium" href="/week">Weekly Pest Prediction</a></li>
                <li class="nav-item px-2"><a class="nav-link fw-medium" href="#contact">Contact </a></li>
              </ul>
            </div>
          </div>
        </nav>
        <section class="py-0" id="header">
          <div class="bg-holder d-none d-md-block" style="background-image:url(static/img/illustrations/hero-header.png);background-position:right top;background-size:contain;"></div>
          <!--/.bg-holder-->
          <div class="bg-holder d-md-none" style="background-image:url(static/img/illustrations/hero-bg.png);background-position:right top;background-size:contain;"></div>
          <!--/.bg-holder-->
          <div class="container">
            <div class="row align-items-center min-vh-75 min-vh-lg-100">
                <div class="col-md-7 col-lg-6 col-xxl-5 py-6 text-sm-start text-center">
                    <form method="POST" action="{{ url_for('predict') }}">
                      <label for="feature1" title="Hill numbers provide a unified framework for the three most popular groups of diversity measures">Collection Type:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                      <input type="text" name="feature1" required><br>
                  
                      <label for="feature2" title="Enter the maximum temperature">Max Temperature:&nbsp;</label>
                      <input type="text" name="feature2" required><br>
                  
                      <label for="feature3" title="Enter the minimum temperature">Min Temperature:&nbsp;&nbsp;</label>
                      <input type="text" name="feature3" required><br>
                  
                      <label for="feature4" title="RH1 is Relative Humidity">RH1:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                      <input type="text" name="feature4" required><br>
                  
                      <label for="feature5" title="Geography is Area/Location">Geography:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                      <input type="text" name="feature5" required><br>
                      <br>
                      <button type="submit">Predict</button>
                    </form> 

                    {% if result %}
                        <br><h2>Prediction Result:</h2><br>
                        <p style="font-size: 20px;">Predicted Class: {{ result[0] }}</p>
                        {% if result[1] %}
                            <p style="font-size: 18px;">Most Commonly Used Pesticides: {{ result[1]|join(', ') }}</p>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
           </div>
        </section>
        
  <!-- <section> close ============================-->
        <!-- ============================================-->
  
        
      </main><!-- ===============================================-->
      <!--    End of Main Content-->
      <!-- ===============================================-->
  
  
  
      <!-- ===============================================-->
      <!--    JavaScripts-->
      <!-- ===============================================-->
      <script src="vendors/@popperjs/popper.min.js"></script>
      <script src="vendors/bootstrap/bootstrap.min.js"></script>
      <script src="vendors/is/is.min.js"></script>
      <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
      <script src="static/js/theme.js"></script>
      <link href="https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;700;900&amp;display=swap" rel="stylesheet">
</body>

</html>
